body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

/* Header */
header{
    background-color: #1f2937;
    padding: 0 100px;
} 
  
.header{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    margin-bottom: 50px;
  }

a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.links{
    display: flex;
    align-items: center;
    gap: 16px;
} 

.logo{
    font-size: 24px;
    color: #F9FAF8;
}
/*  */

/* Text and image */
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    gap: 50px;
}

.main{
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 8px;
}

.text{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

button{               
    align-self: flex-start;
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    padding: 4px 20px;
    border-radius: 8px;
    text-align: center;
}

img{
    flex-grow: 1;
}